{% extends "baseadmin.html.twig" %}

{% block title %}<title>Admin - Spelers</title>{% endblock %}

{% block content %}
    <h1>Speler edit</h1>


    <img src="{{ asset(speler.webPath) }}" style="width: 50px">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('speler_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
